%script#single_comment_template{type: "text/x-handlebars-template"}
  :plain
    <div class='comment'>
      <img class = 'photo' src="{{avatar}}" height = '32' weight = '32' >
      <a class='author' href='#'> {{name}} </a>
      <span class='text' >
        {{content}}
      </span>
      <p class='timestamp'>posted seconds ago</p>
    </div>