%script#story_viewer_template{type: "text/x-handlebars-template"}
  .storyViewer
    .fader

    .storyWindow
      %a.storyClose{ :href => '#'}

      .storyContent
        :plain
          {{#if story.html}}
            {{{story.html}}}
          {{else}}
            <img src="{{story.image}}">
          {{/if}}
            <div class='clear'></div>

        .storyName {{story.title}}
        :plain
          <a href={{story.url}} target="_blank">
            <img src='http://b.dryicons.com/images/icon_sets/blue_velvet/png/16x16/open_in_browser.png'>
          </a>


      .storyComments{ :style => 'width: 820px; display: block;' }
        .content
          .comments
            
            :plain
              <div class='comment'></div>
              {{#each comments}}
                <div class='comment'>
                  <img class = 'photo' src="{{this.avatar}}" height = '32' weight = '32' >
                  <a class='author' href='{{this.username}}'> {{this.name}} </a>
                  <span class='text' >
                    {{this.content}}
                  </span>
                  <p class='timestamp'>{{this.timestamp}}</p>
                </div>
              {{/each}}

          .leaveComment

            :plain
              {{#if user.current_user}}
                <textarea rows=5 cols=5 placeholder = 'Leave a comment'></textarea>
                <br/>
                <a href='#' class='roundedButton'> Post Comment </a>
                <img class="loader" src="assets/loader.gif" style='display: none;'>
              {{else}}
                <p>You need to login to be able to comment</p>
              {{/if}}


          .clear

  :javascript
    $('.comments').jScrollPane()