%script#story_viewer_template{type: "text/x-handlebars-template"}
  .storyViewer
    .fader

    .storyWindow
      %a.storyClose{ :href => '#'}

      .storyContent.column
        #leftArrow

        :plain
          {{#if story.html}}
            {{{story.html}}}
          {{else}}
            <img src="{{story.image}}">
          {{/if}}
            <div class='clear'></div>

        .storyName
          :plain
            <a href={{story.url}} target="_blank">
              {{story.title}}
            </a>

        #rightArrow


      .storyComments.column
        :plain
          {{#if story.discussion}}
            <span>
              <img src='/assets/{{story.content_type}}.png' height='18px'>
            </span>
            <h1>{{story.title}}</h1>
          {{/if}}

        .content
          #userInfo
            :plain
              <div class='image'>
                <a href='/{{story.user.username}}'><img src='{{story.user.avatar}}' height='48px' width='48px'></a>
              </div>
              <div>
                <h2><a href='/{{story.user.username}}'>{{story.user.username}}</a></h2>
              </div>
              <div class='smallActions'>
                <span>posted {{story.posted_ago}} ago</span>
              </div>

          .clear 
          #storyControls
            :plain
              <a href='#' id='like'>{{story.liked}}</a>

          .comments
            
            :plain
              <div class='comment'></div>
              {{#each comments}}
                <div class='comment'>
                  <img class = 'photo' src="{{this.avatar}}" height = '32' weight = '32' >
                  <a class='author' href='{{this.username}}'> {{this.name}} </a>
                  <span class='text' >
                    {{this.content}}
                  </span>
                  <p class='timestamp'>{{this.timestamp}}</p>
                </div>
              {{/each}}

          .leaveComment

            :plain
              {{#if user.current_user}}
                <textarea rows=1 cols=5 placeholder = 'Leave a comment'></textarea>
                <br/>
                <a href='#' class='roundedButton' style='float:right'> Post Comment </a>
                <img class="loader" src="/assets/loader.gif" style='display: none;'>
              {{else}}
                <p>You need to login to be able to comment</p>
              {{/if}}


          .clear

  :javascript
    $('.comments').jScrollPane()
