:plain 
  <div class="mvl pvl">
        <div class="bottom-menu bottom-menu-large bottom-menu-inverse">
          <div class="container">
            <div class="row">
              <div class="span2 brand">
                <a href="#fakelink" >Brwnppl</a>
              </div>

              <div class="span2">
                <h5 class="title">Legal</h5>
                <ul class="bottom-links">
                  <li><a href="/help/privacy_policy" data-bypass='true'>Privacy Policy</a></li>
                  <li><a href="/help/user_agreement" data-bypass='true'>User Agreement</a></li>
                  <li><a href="/help/guidelines" data-bypass='true'>Community Guidelines</a></li>
                </ul>
              </div>

              <div class="span2">
                <h5 class="title">Categories</h5>
                <ul class="bottom-links">
                  <li><a href="/b/autos-vehicles/top">Autos & Vehicles</a></li>
                  <li><a href="/b/comedy/top">Comedy</a></li>
                  <li><a href="/b/education/top">Education</a></li>
                  <li><a href="/b/entertainment/top">Entertainment</a></li>
                  <li><a href="/b/film-animation/top">Film & Animation</a></li>
                  <li><a href="/b/gaming/top">Gaming</a></li>
                  <li><a href="/b/howto-style/top">Howto & Style</a></li>
                  <li><a href="/b/music/top">Music</a></li>
                  <li><a href="/b/news-politics/top">News & Politics</a></li>
                </ul>
              </div>

              <div class="span2">
                <h5 class="title">&nbsp</h5>
                <ul class="bottom-links">

                  <li><a href="/b/nonprofits-activism/top">Non profits & Activism</a></li>
                  <li><a href="/b/people-blogs/top">People & Blogs</a></li>
                  <li><a href="/b/pets-animals/top">Pets & Animals</a></li>
                  <li><a href="/b/science-technology/top">Science & Technology</a></li>
                  <li><a href="/b/sports/top">Sports</a></li>
                  <li><a href="/b/travel-events/top">Travel & Events</a></li>
                  <li><a href="/b/health-wellness--2/top">Health & Wellness</a></li>
                  <li><a href="/b/misc/top">Misc</a></li>
                  <li><a href="/b/food/top">Food</a></li>
                </ul> 
              </div>

              <div class="span2">
                <h5 class="title">About Us</h5>
                <ul class="bottom-links">
                  <li><a href="http://thepoetproject.com">Humble The Poet</a></li>
                </ul>
              </div>

              <div class="span2">
                <h5 class="title">Follow Us</h5>
                <ul class="bottom-links">
                  <li><a href="https://www.facebook.com/Brwnppl">Facebook</a></li>
                  <li><a href="https://twitter.com/brwnppl">Twitter</a></li>
                  <li><a href="http://www.youtube.com/user/brwnppl">Youtube<span class="label label-small label-primary">New</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- /bottom-menu /large /inverse -->
      </div>