#notifications

#storyViewer

%header#header
  .backgroundContainer
    .background
      .center
        %a.logo

  .content
    .menu
      %ul
        %li
          %a{ href: '#' } Recent
        %li
          %a{ href: '#' } Popular
        %li
          %a{ href: '#' } Communities
        %li
          %a{ href: '# '} my Brwnppl