.container
  .navbar.navbar-inverse
    .navbar-inner
      .container
        %a.brand{:href => '/'} Brwnppl

        .nav-collapse.collapse#nav-collapse-03
          %ul.nav
            %li
              %a{ :href => '/recent'} Recent
            %li
              %a{ :href => '/popular'} Popular
            %li
              %a{ :href => '/communities'} Communities
              %ul
                - @communities.each do |community|
                  %li
                    %a{:href => "/b/#{community.slug}/top"}= community.name
            %li
              %a{ :href => '/top'} Top