.container
  .navbar.navbar-inverse
    .navbar-inner
      .container
        %a.brand{:href => '/', "data-bypass" => true} Brwnppl

        .nav-collapse.collapse#nav-collapse-03
          %ul.nav
            %li
              %a{ :href => '/communities'} Communities
              %ul
                - @communities.each do |community|
                  %li
                    %a{:href => "/b/#{community.slug}/top"}= community.name
            %li
              %a{ :href => '/browse/recent'} Recent
            %li
              %a{ :href => '/browse/popular'} Popular
            %li
              %a{ :href => '/browse/top'} Top

          %ul.nav.pull-right
            %li.divider
            %li
              %a{ :href => '/login' } 
                Sign In