.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar
      %a.brand{:href => '/', "data-bypass" => true} Brwnppl
      
      .nav-collapse.collapse#nav-collapse-03
        %ul.nav
          %li
            %a.dropdown-toggle{ :href => '/communities'} 
              Communities
              %b.caret  
            %ul
              - @communities.each do |community|
                %li
                  %a{:href => "/b/#{community.slug}/top", 'data-bypass' => true}= community.name
          %li
            %a{ :href => '/browse/recent'} Recent
          %li
            %a{ :href => '/browse/popular'} Popular
          %li
            %a{ :href => '/browse/top'} Top

        %ul.nav.pull-right
          %li.divider
          %li
            %a{ :href => 'http://www.facebook.com/Brwnppl', "data-toggle" => "modal", 'data-bypass' => true, :target => '_blank' }
              %span.fui-facebook
          %li
            %a{ :href => 'https://twitter.com/brwnppl', "data-toggle" => "modal", 'data-bypass' => true, :target => '_blank'}
              %span.fui-twitter
          - if !current_user
            %li
              %a{ :href => '/#login', "data-toggle" => "modal", 'data-bypass' => true }
                Sign In
          - else
            %li
              %a{ :href => '/#add_story', "data-toggle" => "modal", 'data-bypass' => true }
                %span.fui-plus
            %li
              %img{:src => current_user.avatar}
            %li.divider

            %li
              %a.dropdown-toggle{ :href => '/logout', "data-toggle" => "dropdown", 'data-bypass' => true }
                My Brwnppl
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{ :href => '/logout', 'data-bypass' => true} Logout