#login.modal.hide.fade{ :tabindex => "-1", :role => 'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => true}
  .modal-header
    %button.close{ :type => 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true} x
    %h3#myModalLabel Sign in to Brwnppl

  .modal-body
    %form#modal-form{ :action => '/some'}
      .control-group.large
        %input.fluid{ :type => 'text', :placeholder => 'username'}

      .control-group.large
        %input.fluid{ :type => 'password', :placeholder => 'password'}

      %a.btn.btn-large.pull-right{ :href => '#'}
        %i.fui-lock
        Login

  .modal-header
    %h3#myModalLabel New User?

  .modal-body
    .row-fluid
      %a.btn.btn-large{ :href => '#'}
        %i.fui-user
        Register using Email

      %a.btn.btn-large.btn-social-facebook{ :href => auth_at_provider_path(:provider => :facebook), 'data-bypass' => true }
        %i.fui-facebook
        Connect with Facebook