- content_for(:title) do
  Forgot Password? | Brwnppl

:css
  #CompleteAccount {
    margin-left: 0px;
  }

#content
  .content

    .setupAccount
      .header
        %h1 Forgot Password?

      - if flash[:notice].present?
        .alert.alert-success
          %ul
            %li= flash[:notice]

      - if flash[:alert].present?
        .alert.alert-error
          %ul
            %li= flash[:alert]

      = form_tag password_resets_path, :class => 'RegisterForm', :id => "CompleteAccount" do
        %ul.fields
          %li.field
            = text_field_tag :email, nil, :placeholder => "email"

        .buttons
          %button.Button.WhiteButton.Button13.ContrastButton Reset Password
          %span.hidden
            %img.loader{ :src => "/assets/loader.gif", :style => 'float: left' }