%p Hey,

%p Welcome to Brwnppl, the community you help build by sharing the things that Brwnppl care about. Logging in allows you to share, vote & comment on the things you like, and things you don't.

%p 
  %strong
    = "Please confirm your email address by #{link_to("[clicking here]", activate_user_url(@user.activation_token))} & you're ready to go.".html_safe

%p Here's how to get started:

%p 
  Share links from anywhere on the web, it could be a picture, video, sound or website. Vote & comment on the things you like, and things you don't.

%p
  Share our Welcome Video with your friends to help the community grow
  = "Forgot your password? No problem, [reset it here]"

%p Have fun!
%p Your friends at Brwnppl