%p= "Hey #{@user.username},"

%p A request to change your password has been made at brwnppl.com If you want to change your password, visit the link below. If you'd like to keep your current password, just ignore this email.

%p= "#{ link_to("[Password Reset Link]", @url) }".html_safe

%p From your friends at Brwnppl.