- @communities.in_groups_of(3).each do |communities|
  .left
    - communities.each do |community|
      - if community.present?
        %p
          %a{:href => "/b/#{community.slug}"}= community.name