
- if mobile_device?
  %br
  %br
  .alert.alert-success
    = "You are browsing Brwnppl from a mobile device, we have our mobile website & apps in the works. In the meantime, some pinching & zooming may be required :)"


- if flash[:notice]
  %br
  %br
  .alert.alert-success
    = flash[:notice]

- if flash[:alert]
  %br
  %br
  .alert.alert-error
    = flash[:alert]