:javascript
  $('.postContent h2, .postContent .postDetails a.comments_, .postThumbnail').click(function(event) {
    event.preventDefault();
    story_id = $(event.target).closest('.post').data('story-id');
    story_viewer = new Brwnppl.StoryViewer(story_id);
    story_viewer.init();
  });

  $('.postContent .postDetails a.report_abuse').click(function(event) {
    event.preventDefault()
    abuse = confirm('Are you sure you want to report abuse this story?');
    if (abuse) {
      story_id = $(event.target).closest('.post').data('story-id');
      story = new Brwnppl.StoryController(story_id);
      story.reportAbuse();
    }
  });

- if current_user
  :javascript
    $('.post .ribbon-front a.thumb_up').click(function(event) {
      event.preventDefault()
      story_id = $(event.target).closest('.post').data('story-id')
      story = new Brwnppl.StoryController(story_id)
      story.like($(this))
    });

    $('.post a.repost_').click(function(event) {
      event.preventDefault()
      story_id = $(event.target).closest('.post').data('story-id')
      story = new Brwnppl.StoryController(story_id)
      story.reshare(function() {
        notification = new Brwnppl.Notification('Shared Successfully!', ['Re-shared this story with the world :) '])
        notification.display()
      })
    });

    $('.post .ribbon-front a.thumb_down').click(function(event) {
      event.preventDefault()
      story_id = $(event.target).closest('.post').data('story-id')
      story = new Brwnppl.StoryController(story_id)
      story.dislike($(this))
    });