.categories
  %a.category.filter{:href => '#', 'data-content-type' => 'all' } All
  %a.category.filter{:href => '#', 'data-content-type' => 'web_link'} Links
  %a.category.filter{:href => '#', 'data-content-type' => 'discussion'} Discussions
  %a.category.filter{:href => '#', 'data-content-type' => 'image'} Images
  %a.category.filter{:href => '#', 'data-content-type' => 'audio'} Audio
  %a.category.filter{:href => '#', 'data-content-type' => 'video'} Video

= javascript_include_tag 'StorySorter/Sorter'