:plain
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/22JToG0GRfdCVlVnKlZLGQ.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  <img id="help" src="/assets/help-brwnppl.png" style="margin-bottom: 20px; margin-top: -208px; right: -27px; z-index: -100; top: 50%; position: fixed; width: 222px;">