<div class='explainerVideo'>
  <iframe width="560" height="315" src="//www.youtube.com/embed/8V8b4qgGEY0" frameborder="0" allowfullscreen></iframe>
</div>

<div class='setupAccount'>
  <div class="header">
    <h4>Welcome to brwnppl, the community you help build by sharing the things brwnppl care about. Sign in to share, vote & comment on the stuff you like & the stuff you don't.</h4>
  </div>
</div>