#content
  #container
    - if logged_in?
      .userOptions
        %a
          = current_user.name 
        %a 
          = link_to 'Logout', logout_path
        %a.icon.plus.floatRight
        %a.icon.user.floatRight
      .clear
      .shareSection
    - else 
      .userOptions
        = link_to 'Login with FB', auth_at_provider_path(:provider => :facebook)
        = link_to 'Login with TW', auth_at_provider_path(:provider => :twitter)

    .ribbon