<script id="image_view" type="text/x-handlebars-template">
  <div class="mfp-figure">
    <div class="mfp-close"></div>
    <div class="mfp-img"></div>
    <div class="mfp-bottom-bar">
      <div class="mfp-title"></div>
      <div class="mfp-counter"></div>
    </div>
  </div>
</script>