<script id="pagination_template" type="text/x-handlebars-template">
  {{#if paginate.next_page}}
    <a href="/browse/{{paginate.sort}}/{{paginate.next_page}}" class="btn previous">
      <i class="fui-arrow-left"></i>
      OLDER
    </a>
  {{/if}}
  {{#if paginate.previous_page}}
    <a href="/browse/{{paginate.sort}}/{{paginate.previous_page}}" class="btn next">
      NEWER
      <i class="fui-arrow-right"></i>
    </a>
  {{/if}}
    <a href="#" class="hide loader" style="margin-left: 10px;">
      <img src="/assets/ajax-loader.gif">
    </a>
</script>