<script id="single-story" type="text/x-handlebars-template">
  <div class="story row-fluid mfp-{{story.magnific_type}}" data-story-id={{story.id}} data-mfp-source="{{story.image}}">
    <div class="span2"><a href="/story/{{story.slug}}" class="link mfp-{{story.magnific_type}}" 
      data-facebook-share-link={{story.facebook_share_link}} 
      data-twitter-share-link={{story.twitter_share_link}} 
      data-mfp-like-count={{story.likes_count}}
      data-mfp-comment-count={{story.comments_count}}
      data-mfp-source={{story.url}} >
        <img class="thumbnail" src="{{story.image}}">
      </a>
    </div>

    <div class="span9 mobilePadding">
      <h5 data-original-title="Here is a sample of a long dark tooltip. Hell yeah.">
        <a href="/story/{{story.slug}}" class="link mfp-{{story.magnific_type}} {{story.icon}}" 
          data-facebook-share-link={{story.facebook_share_link}} 
          data-twitter-share-link={{story.twitter_share_link}} 
          data-mfp-like-count={{story.likes_count}}
          data-mfp-comment-count={{story.comments_count}}
          data-mfp-source={{story.url}} >
            {{story.title}}
        </a>
      </h5>
    </div>

    <div class="clear"></div>
    <!-- <div class="row-fluid"> -->

      <div class="span2 mobilePadding">
        <span class="fui-heart"></span>
        <span>{{story.likes_count}} likes</span>
      </div>
      
      <div class="span2 mobilePadding">
        <span class="fui-chat"></span>
        <span>{{story.comments_count}} comments</span>
      </div>

      <div class="span5 mobilePadding">
        <span class="fui-time"></span>
        <a href="/{{story.user.username}}">posted {{story.posted_ago}} ago by <strong>{{story.user.username}}</strong></a>
      </div>
    <!-- </div> -->
  </div>
</script>