<script id="user-profile" type="text/x-handlebars-template">
  <br>
  <div class='row'>
    <div class='span3'>
      <div class='tile'>
        <img src={{user.avatar}} class='profileOwner'>
        <h4>@{{user.username}}</h4>
        <p>{{user.bio}}</p>
        {{#if user.following}}
          <a class="btn btn-danger btn-block" id="unfollow" data-user-handle="{{user.username}}" data-bypass='true'>
            <span class="fui-cross"></span>Unfollow
          </a>
        {{ else }}
          <a class="btn btn-danger btn-block" id="follow" data-user-handle="{{user.username}}" data-bypass='true'>
            <span class="fui-plus"></span>Follow
          </a>
        {{/if}}
        <br>
        <a class="btn btn-danger btn-block btn-small" >
          {{user.follower_count}} followers
        </a>
        <a class="btn btn-danger btn-small btn-block" >
          {{user.following_count}} following
        </a>
      </div>
    </div>
    <div class='span9' id='user_stories'>

    </div>
  </div>
</script>