html {
  background: url("mainBackground.jpg") repeat;
}

.story img.thumbnail {
  max-width: 125px;
  max-height: 85px;
  margin: auto;
}

.story {
  background-color: white !important;
}

.story.row {
  padding: 15px;
}