html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body #success {
    color: white;
    display: none;
    background-color: green;
    width: 100%;
    text-align: center;
    height: 56px;
    padding-top: 12px;
    position: absolute;
}

body #alert {
    color: white;
    display: none;
    background-color: red;
    width: 100%;
    text-align: center;
    height: 56px;
    padding-top: 12px;
    position: absolute;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
}
a {
	color:#9a3d15;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px;
}

.setupAccount p {
  margin: 0 0 18px; 
  text-align: justify;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 960px;
}
html{
    background:url("mainBackground.jpg") repeat;
}

.loginButton {
  border-radius: 7px;
  background: url("loginButtonBackground.png") repeat-x;
  width: 180px;
  margin: 0 auto;
  padding: 5px;
  display: block;
  color: 
  #fff;
  text-decoration: none;
  text-align: left;
  border: 1px solid 
  #562814;
  box-shadow: inset 1px 1px 0px rgba(255,255,255,0.5);
  margin-bottom: 20px;
}

.loginButton img {
  padding: 0px 10px 0px 7px;
  vertical-align: middle;
  margin-top: -3px;
  border-right: 1px solid #562814;
  box-shadow: 1px 0px 0px rgba(255,255,255,0.3);
  margin-right: 15px;
}

#shareButtons {
  margin-top: 10px;
}

.mediaGutter {
    max-width: 63%;
    float: left;
    width: 60%;
    padding-right: 20px;
}

.mediaGutter img {
    margin: 0px auto;
}

.commentAvatar {
    margin-right: 10px;
    float: left;
}

.commentsGutter {
    float: left;
    width: 35%;
    padding-left: 20px;
    overflow: hidden;
    height: 500px;
}

.commentsGutter #comments {
    padding: 0px;
    padding-top: 95px;
}

.commentsGutter #comments #comment {
    background-color: #F2F2F2;
    margin-bottom: 3px;
}

#comment #commenterAvatar {
    float: left;
    max-width: 32px;
    margin: 5px 5px 5px 5px;
}

#comment #commentText {
    min-height: 42px;
    color: #9a3d15;
    text-align: justify;
    margin-right: 15px;
}

.commentsRoll {
    width: 320px;
}

.commentsGutter .userInfo {
    position: fixed;
    width: 320px;
    background-color: 
    #F2F2F2;
}

textarea#newComment {
    border: 1px solid #9a3d15;
    width: 255px;
}

/* Header
-----------------------------------------------------------------------------*/
.fader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: 
    rgba(0,0,0,0.5);
    z-index: 100;
}
#header{
  height:100px;
  position:fixed;
  width:100%;
  z-index:5000;
}

#header .content{
    width:960px;
    margin:0 auto;
    position: relative;
    z-index: 100000;
}

#header .communities {
    color: white;
}

#header .communities a {
  color: white;
}

#header .left {
    float:left; width:33%; 
}

#header .backgroundContainer{
    height:71px;
    width:100%;
    background:#8f5c46;
    box-shadow:0px 2px 0px rgba(0,0,0,0.9);
    position: relative;
    z-index: 100000;
}
#header .background{
    height:69px;
    width:100%;
    background:url("headerBackground.jpg") repeat;
}
#header .center{
    background:url("headerCenterBackground.png") no-repeat center top;
    width:960px;
    height:69px;
    margin:0 auto;
}
.menu{
    width:960px;
    margin:0 auto;
    text-align:center;
    margin-top:1px;
}
.menu ul li{
    display:inline-block;
    margin-right:35px;
}
.menu ul li:last-child{
    margin:0px;
}
.menu ul li a{
    display:inline-block;
    height:24px;
    background:url("menuMiddleBackground.png") repeat-x top;
    color:#fff;
    padding:2px 0px 0px 0px;
    position:relative;
    text-decoration:none;
}
.menu ul li a:after{
    content:"";
    display:block;
    width:24px;
    height:27px;
    background:url("menuRightBackground.png") no-repeat top left transparent;
    position:absolute;
    right:-24px;
    top:0px;
}
.menu ul li a:before{
    content:"";
    display:block;
    width:24px;
    height:27px;
    background:url("menuLeftBackground.png") no-repeat top left transparent;
    position:absolute;
    left:-24px;
    top:0px;
}
.menu ul li a:hover{
    background-position:0px -27px;
}
.menu ul li a:hover::after{
    background-position:0px -28px;
}
.menu ul li a:hover::before{
    background-position:0px -28px;
}
.logo {
  display: block;
  width: 165px;
  height: 70px;
  margin: 0 auto;
  background: url("logo.png") no-repeat center top;
  position: relative;
  top: -10px;
}

.storyControls {
  padding: 20px;
  padding-right: 0px;
}

#storyControls li {
  list-style-type: none;
  display: inline;
  padding: 8px;
}

.commentsDropdown {
  width: 400px;
  height: 570px;
  position: fixed;
  top: 72px;
  background-image: url('mainBackground.jpg');
  border-bottom-right-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 20px black;
}

.commentsDropdown .comment p {
  margin-bottom: 5px;
}

.commentsDropdown .comment {
  padding: 12px 0px 12px 0px;
  border-bottom: 1px solid #D2D2D2;
}

.commentsDropdown .comment .photo {
  vertical-align: top;
  float: left;
  width: 30px;
  height: 30px;
  margin: 0px 10px 5px 0px;
}

.commentsDropdown .comment .author {
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

.commentsDropdown .comment .text {
  font-size: 14px;
  margin-bottom: 20px;
}

.commentsDropdown .leaveComment {
  position: absolute;
  bottom: 0px;
  padding: 23px;
}


.commentsDropdown .comments {
  width: 350px;
  margin: 0px auto;
  height: 400px;
  overflow: auto;
}

/* User Section
-----------------------------------------------------------------------------*/
.userOptions{
  font-family: 'Fenix';
  font-size: 14px;
  color:#9a3d15;
  margin-top:-16px;
  width:200px;
  float: right;
  text-align: right;
}
.userOptions a{
    text-decoration:none;
}
.userOptions a:hover{
    text-decoration:underline;
}
/* Share Section
-----------------------------------------------------------------------------*/
.shareSection{
    margin-top:70px;
}
.userPhoto{
    width:90px;
    float:left;
}
.userPhoto img{
    border-radius:35px;
    width:50px;
    height:50px;
    margin:33px auto;
    display:block;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.9);
}
.shareBox{
    float:left;
    width:550px;
    margin-left:50px;
    border-radius:10px;
    padding:7px;
    border:2px solid #491702;
    background:#fff;
    height: auto;
    min-height: 75px;
}
.linkBar{
    width:510px;
    border-radius:7px; 
    border: 1px solid #cfcfcf;
    padding:7px 10px;
    color:#707070;
    margin-left:8px;
    margin-top: 10px;
}
.uploadLink{
    margin-left:10px;
    padding-top:7px;
    display:inline-block;
}
.shareButton{
    float:left;
}
.shareButton a{
    display:block;
    background:url("shareButtonBackground.png") repeat center top;
    color:#fff;
    text-decoration:none;
    vertical-align:middle;
    font-size:26px;
    padding:15px 30px 0px 30px;
    height:35px;
    border-radius:30px;
    margin:15px 50px;
    box-shadow:inset 1px 2px 0px rgba(255,255,255,0.7), 0px 0px 1px #000;
    border:6px solid #dbdbdb;
}
.shareButton a:hover{
    border:6px solid #cecece;
    background-position:0px -52px;
}
.sayBulb{
    width:34px;
    height:18px;
    position:absolute;
    background:url("sayBuld.png") no-repeat left top;
    margin:50px 0px 0px -38px;
}
/* Posts Section
-----------------------------------------------------------------------------*/
.ribbon{
    background:url("ribbonBackground.png") repeat;
    padding:10px;
    border-radius:20px;
    margin-top:20px;
}
.categories{
    margin:15px 0px 0px 10px;
    height:40px;
}
.category{
    text-decoration:none;
    padding:1px 10px;
    background:#9a3d15;
    color:#fff;
    border-radius:10px;
    border:1px solid #602912;
    box-shadow:inset 1px 1px 0px rgba(255,255,255,0.5);
    margin-right:5px;
}
.category:hover{
    background:#b65329;
}
.category.disabled{
    background:#c0c0c0;
    border:1px solid #a2a2a2;
    box-shadow:inset 1px 1px 2px rgba(0,0,0,0.2);
    color:#7f7f7f;
}
.category.disabled:hover{
    background:#afafaf;
}
.posts{
    background:#fff;
    border:1px solid #d3d3d3;
    border-radius:10px;
    width:100%;
}
.post{
    padding:15px;
    border-bottom:1px solid #d3d3d3;
}
.post:last-child{
    border:0px none;
}
.postUser{
    float:left;
    width:90px;
}
.postUser img{
    width:70px;
    height:70px;
    max-height: 120px;
    margin:0 auto;
}

.postThumbnail img {
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
  max-width: 125px;
  max-height: 85px;
}

img#linkBarImage {
    max-width: 530px;
}

.ribbon-front {
  font-family: 'Paytone One';
  font-size: 30px;
  background-color: #9A3D15;
  height: 68px;
  width: 38px;
  position: absolute;
  left: -43px;
  z-index: 2;
  color: white;
  padding-left: 16px;
  padding-top: 12px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
  box-shadow: -1px 3px 5px black;
}

.ribbon-front .thumb_down .thumb {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ribbon-front .thumb_up .thumb {
  background-position: -156px 0px;
  width: 14px;
  height: 15px;
  margin-top: -30px;
}

.ribbon-front .thumb_down .thumb {
  background-position: -156px 0px;
  width: 14px;
  height: 15px;
  margin-top: 16px;
}

.postShadow {
  /*box-shadow: -1px 0px 15px black;*/
  background-color: #FEF3A7;
  
  /* original background-color: #FEEC70;*/
}

.storyViewerBox {
    background: url("mainBackground.jpg") repeat scroll 0 0 transparent;
    border: 2px solid #491702;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    position: relative;
    padding: 20px;
    max-width: 960px;
    z-index: 1000;
    height: 500px;
    min-width: 960px;
}

.storyViewerBoxContainer {
    position: fixed;
    top: 182px;
    width: 100%;
    z-index: 200;
}

.brownie_points {
  font-size: 20px;
  position: absolute;
  left: 10px;
}

.notificationBox {
    background:url("mainBackground.jpg") repeat;
    width:500px;
    height:250px;
    left:50%;
    margin:200px 0px 0px -250px;
    position:fixed;
    z-index:1000;
    border-radius:10px;
    text-align:center;
    padding:20px 0px;
    box-shadow:2px 2px 10px rgba(0,0,0,0.5);
    border:2px solid #491702;
}

.notificationClose {
    background: url("sprites.png");
    background-position: -223px 0px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -5px;
    right: -5px;
    display: block;
}

.storyViewerClose {
    background: url("sprites.png");
    background-position: -223px 0px;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -5px;
    right: -5px;
    display: block;
}

.postContent{
  float:left;
  width:80%;
  margin-left: 10px;
}
.postUsername{
  font-family: 'Fenix';
  font-size: 16px;
  text-decoration:none; 
  margin-bottom:10px; 
  display:inline-block;}
.postUsername:hover{color:#cb5b2b;}
.postThumbnail {
  float: left;
  width: 130px;
  text-align: center;
  min-height: 90px;
  position: relative;
}
.postDetails{
    margin-top:10px;
}
.postDetails a{
  text-decoration:none;
  margin-right:5px;
}
.postDetails a:hover, .postDetails a.checked{
    color:#9a3d15;
}
/* Tags Section
-----------------------------------------------------------------------------*/
.tags{
    background:#fff;
    float:left;
    width:190px;
    background:#fff;
    border:1px solid #d3d3d3;
    border-radius:10px;
    padding:10px;
    margin-left:20px;
    position:relative;
}
.tags a{
    color:#491702;
    text-decoration:none;
}
.tags a:hover{
    color:#9a3d15;
}
.tags input[type="text"]{
    border-radius:7px;
    margin-top:20px;
    border:1px solid #c3c3c3;
    padding:4px 25px 4px 5px;
    width:158px;
}

#userInfo .image {
  float: left;
  margin-right: 15px;
}

/* Text Styling
-----------------------------------------------------------------------------*/
h1{
    font-size:24px;
    color:#9a3d15;
    font-weight:normal;
    display:inline-block;
    margin-bottom:15px;
}
h2{
  font-family: 'Fenix';
  font-size:24px;
  color:#491702;
  font-weight:normal;
  display:inline;
  line-height: 32px;
}
h2 a{
    color:#491702;
    text-decoration:none;
    word-wrap: break-word;
}h2 a:hover{
    color:#9f5130;
}
/* Icons & Sprites
-----------------------------------------------------------------------------*/
.icon{
    background:url("sprites.png") no-repeat;
    display:inline-block;
    vertical-align:middle;
}
.icon.user{background-position:0px 0px; width:16px; height:16px; margin-right:20px;}
.icon.user:hover{background-position:0px -16px;}
.icon.plus{background-position:-16px -1px; width:13px; height:13px; margin-top:1px;}
.icon.plus:hover{background-position:-16px -17px;}
.icon.search{background-position:-198px 0px; width:12px; height:19px; position:absolute; margin:24px 0px 0px -20px;}
.icon.search:hover{background-position:-210px 0px;}

.icon.share{width:48px; height:47px; margin:5px 49px 5px 0px;}

.icon.share.photo{background-position:0px -35px;}
.icon.share.photo:hover{background-position:0px -83px;}
.icon.share.photo.selected{background-position:0px -83px;}
.icon.share.video{background-position:-48px -35px;}
.icon.share.video:hover{background-position:-48px -83px;}
.icon.share.video.selected{background-position:-48px -83px;}
.icon.share.music{background-position:-96px -35px;}
.icon.share.music:hover{background-position:-96px -83px;}
.icon.share.music.selected{background-position:-96px -83px;}
.icon.share.link{background-position:-144px -35px;}
.icon.share.link:hover{background-position:-144px -83px;}
.icon.share.link.selected{background-position:-144px -83px;}
.icon.share.chat{background-position:-192px -35px;}
.icon.share.chat:hover{background-position:-192px -83px;}
.icon.share.chat.selected{background-position:-192px -83px;}
.icon.share.text{background-position:-240px -35px; margin-right:0px;}
.icon.share.text:hover{background-position:-240px -83px;}
.icon.share.text.selected{background-position:-240px -83px;}

.icon.arrow{background-position:-34px 0px; width:10px; height:17px; margin:-7px 15px 0px 15px;}

.icon.posted{display:inline-block; margin-right:15px;}
.icon.posted.photo{background-position:-44px 0px; width:20px; height:25px; margin-bottom:8px;}
.icon.posted.video{background-position:-64px 0px; width:15px; height:19px; margin-bottom:8px;}
.icon.posted.music{background-position:-79px 0px; width:17px; height:19px; margin-bottom:8px;}
.icon.posted.link{background-position:-96px 0px; width:20px; height:18px; margin-bottom:8px;}
.icon.posted.chat{background-position:-117px 0px; width:19px; height:15px; margin-bottom:8px;}
.icon.posted.text{background-position:-136px 0px; width:19px; height:13px; margin-bottom:8px;}

.icon.details{display:inline-block; margin-right:5px;}
/*.icon.details.thumb{background-position:-156px 0px; width:14px; height:15px; margin-top:-5px;}
a.checked .icon.details.thumb, a:hover .icon.details.thumb{background-position:-156px -15px;}*/
.icon.details.comments{background-position:-170px 0px; width:13px; height:13px;}
a.checked .icon.details.comments, a:hover .icon.details.comments{background-position:-170px -15px;}
.icon.details.repost{background-position:-184px 0px; width:12px; height:13px;}
a.checked .icon.details.repost, a:hover .icon.details.repost{background-position:-184px -15px;}
/* Middle
-----------------------------------------------------------------------------*/
#content .content {
    width: 960px;
    margin: 0 auto;
    height: auto;
}

#content #container {
    width:960px;
    margin:20px auto;
    position: relative;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 100px;
}
/* Utility
-----------------------------------------------------------------------------*/
.clear{clear:both;}
.floatLeft{float:left;}
.floatRight{float:right;}
.hidden{ display: none;}

.loader {
    float:right;
    margin-top: 10px;
    margin-right: 15px;
}

#flash-notice {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    border: 2px solid #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    bottom: 130px;
    color: white;
    display: none;
    font-size: 22px;
    margin: 0 auto;
    max-width: 515px;
    padding: 4px;
    position: fixed;
    text-align: center;
    z-index: 1200;
}

.setupAccount {
  position: relative;
  padding: 5px;
  width: 606px;
  margin: 0 auto;
  background: none;
  padding-top: 0px;
  z-index: 20;
}

#CompleteAccount {
  margin-left: 234px;
  padding: 0 14px 20px;
}

#CompleteAccount input, #CompleteAccount textarea, #CompleteAccount select {
  background: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #A4A2A2;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: inset 0 1px rgba(34,25,25,0.15), 0 1px rgba(255,255,255,0.8);
  -webkit-box-shadow: inset 0 1px rgba(34, 25, 25, 0.15), 0 1px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 1px rgba(34, 25, 25, 0.15), 0 1px rgba(255, 255, 255, 0.8);
  display: block;
  font-size: 24px;
  font-weight: 300;
  padding: 10px 14px 5px;
  position: relative;
  -webkit-transition: all 0.08s ease-in-out;
  -moz-transition: all 0.08s ease-in-out;
  width: 100%;
  z-index: 3;
  margin-bottom: 20px;
}

#CompleteAccount .follow_friends, #CompleteAccount .follow_friends.twitter {
  background-color: white;
  border: 1px solid #DDD;
}

.setupAccount .social_banner h2, .setupAccount .follow_friends {
  background: #D8DFEA url("fb-icon-small.png") 9px center no-repeat;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #221919;
  font-size: 16px;
  line-height: 20px;
  min-height: 21px;
  padding: 12px 9px 9px 43px;
}

#CompleteAccount .follow_friends label {
  display: inline-block;
  font-size: 13px;
  padding: 0 0 0 0.2em;
  vertical-align: middle;
}

#CompleteAccount .fields {
margin-bottom: 10px;
}

#CompleteAccount .terms {
  font-size: 14px;
  margin-bottom: 24px;
}

#CompleteAccount .follow_friends input {
  display: inline-block;
  margin: -1px 0 0 5px;
  vertical-align: middle;
  width: auto;
}
.setupAccount .header {
  margin: 0 0 35px;
  padding-top: 35px;
  text-align: center;
}

.setupAccount .header h1 {
  color: #333;
  font-family: 'Georgia';
  font-size: 35px;
  text-align: center;
}

.setupAccount .social_banner.facebook {
  background: url("rule_589x4.png") no-repeat bottom center;
  margin: -24px 0 20px;
  padding-bottom: 20px;
}

.setupAccount .social_banner h2 {
  background: #D8DFEA url("fb-icon-small.png") 9px center no-repeat;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #221919;
  font-size: 16px;
  line-height: 20px;
  min-height: 21px;
  padding: 12px 9px 9px 43px;
  display: block;
}

#CompletePhoto {
  background: white;
  -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
  float: left;
  padding: 4px;
  position: relative;
  width: 211px;
}

#CompletePhoto .frame {
  max-height: 223px;
  overflow: hidden;
}

#CompletePhoto .buttons {
  bottom: 15px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.Button.WhiteButton.ContrastButton {
  border: 0;
  -moz-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.35), 0 0 0 1px rgba(140, 126, 126, 0.5);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.35), 0 0 0 1px rgba(140, 126, 126, 0.5);
}

.Button.WhiteButton {
  background-color: #F0EDED;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFAFB), to(#F0EDED), color-stop(.5,#F9F7F7),color-stop(.5,#F6F3F4));
  background-image: -moz-linear-gradient(top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
  background-image: -o-linear-gradient(top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
  background-image: -webkit-linear-gradient(top, #FDFAFB, #F9F7F7 50%, #F6F3F4 50%, #F0EDED);
  border-color: #BBB;
  color: #524D4D;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfafb', endColorstr='#f0eded');
  text-shadow: 0 1px rgba(255, 255, 255, 0.9);
}

.Button.Button13 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 13px;
}

.Button {
  border: 1px solid transparent;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  -moz-box-shadow: 0 1px rgba(255,255,255,0.8), inset 0 1px rgba(255,255,255,0.35);
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.8), inset 0 1px rgba(255, 255, 255, 0.35);
  box-shadow: 0 1px rgba(255, 255, 255, 0.8), inset 0 1px rgba(255, 255, 255, 0.35);
  cursor: pointer;
  display: inline-block;
  font-family: "helvetica neue",arial,sans-serif;
  font-weight: bold;
  line-height: 1em;
  margin: 0;
  padding: .45em .825em .45em;
  text-align: center;
  -moz-transition: all .05s ease-in-out;
  -o-transition: all .05s ease-in-out;
  -webkit-transition: all .05s ease-in-out;
}

/* NEW SECTION
-----------------------------------------------------------------------------*/
/* User Profile Section
-----------------------------------------------------------------------------*/
.profile{
    background:rgba(255,255,255,0.8);
    margin-top:-10px;
    padding-bottom:50px;
    border-bottom:1px solid #e0e0e0;
}
.profile .content{
    width:960px;
    margin:0 auto;
}
.profileBox{
    width:690px;
    padding:7px;
    float:left;
    margin-top:70px;
    border-right:1px solid rgba(0,0,0,0.3);
}
.profilePhoto{
    width:125px;
    height:150px;
    float:left;
    display:block;
    margin:-7px 20px -7px -7px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.profileActions{
    float:left;
    width:100px;
    margin:70px 0px 0px 20px;
}

.profileActions p {
  background-color: #5F2713;
  height: 40px;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  width: 180px;
}

.discussionComments h1 {
  line-height: 34px;
  word-wrap: break-word;
  display: block;
}

/* END NEW SECTION
-----------------------------------------------------------------------------*/

/* Buttons Section
-----------------------------------------------------------------------------*/
.roundedButton {
    border-radius: 7px;
    background: url("loginButtonBackground.png") repeat-x;
    padding: 2px 10px;
    display: inline-block;
    color: 
    #fff;
    text-decoration: none;
    text-align: left;
    border: 1px solid 
    #562814;
    box-shadow: inset 1px 1px 0px rgba(255,255,255,0.5);
    font-size: 11px;
}
.roundedButton:hover{background-position:0px -34px;}

/* END NEW SECTION
-----------------------------------------------------------------------------*/

/* Story Section
-----------------------------------------------------------------------------*/
.storyWindow{
  font-family: 'Fenix';
  left:50%;
  top:10%;
  position:fixed;
  z-index:1000000;
  margin-left: -470px;
  height: 70%;
}
.storyContent{
  background:rgba(0,0,0,0.8);
  padding:30px;
  text-align:center;
  vertical-align:middle;
  min-width:540px;
  max-width:560px;
  float: left;
}
.storyContent img {
  vertical-align:middle; 
  max-width:565px;
  max-height:600px;
}

.storyName{
  font-size: 20px;
  padding-top: 25px;
  color: white;
  width: 600px;
  margin: auto;
}
.storyComments{
  background:url("mainBackground.jpg") repeat;
  box-shadow:2px 2px 10px rgba(0,0,0,0.5);
  border:2px solid #491702;
  border-top:0px none;
  padding:20px 20px 38px 20px;
  overflow:hidden;
  display:none;
/*  width: 278px;*/
  display: block;
  float: left;
}

.discussionComments {
  background:url("mainBackground.jpg") repeat;
  box-shadow:2px 2px 10px rgba(0,0,0,0.5);
  border:2px solid #491702;
  border-top:0px none;
  padding:20px 20px 38px 20px;
  overflow:hidden;
  display:none;
  width: 900px;
  display: block;
  float: left;
}

.discussionComments .discussion{
  width:900px;
  margin:0 auto;
}

.discussionComments .discussion .comments{
    vertical-align:top;
    display:inline-block;
    min-height: 200px;
    width:900px;
    padding-right:15px;
}


.storyComments .content{
  width:300px;
  margin:0 auto;
}

.storyComments .content .comments{
    vertical-align:top;
    display:inline-block;
    min-height: 200px;
    width:280px;
    padding-right:15px;
}
.storyClose{
    background:url("sprites.png") no-repeat;
    background-position:-223px 0px; 
    width:24px; 
    height:24px; 
    position:absolute; 
    top:-5px; 
    right:-5px;
    display:block;
}
.storyWindow .comment{padding:12px 0px 12px 0px; border-bottom:1px solid #d2d2d2;}
.storyWindow .comment .photo{
    vertical-align:top;
    float:left;
    width:30px;
    height:30px;
    margin:0px 10px 5px 0px;
}
.storyWindow .comment .text{font-size: 14px; margin-bottom:20px;}
.storyWindow .comment .author{text-decoration:none; font-weight:bold; margin-right:10px;}
.storyWindow .comment .author:hover{color:#CB5B2B;}
.storyWindow .comment p.timestamp { margin: 0px;}
.storyWindow .leaveComment{
    width:250px;
    vertical-align:top;
    padding:12px 0px 0px 0px;
    position: absolute;
    bottom: 0px;
}
.storyWindow .leaveComment textarea{
  font-size: 16px;
  width:100%;
  font-family:sans-serif;
  padding:10px;
  resize: none;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert h4 {
  font-size: 17.5px;
}

.alert-danger, .alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.flash_messages p {
    top: 80px;
}

/* END OF NEW SECTION
-----------------------------------------------------------------------------*/



/* Text Styling
-----------------------------------------------------------------------------*/
h1{
    font-size:24px;
    color:#9a3d15;
    font-weight:normal;
    display:inline-block;
    margin-bottom:15px;
}
h2 a{
    color:#491702;
    text-decoration:none;
}h2 a:hover{
    color:#9f5130;
}
h3{
    font-size:16px;
    color:#491702;
    margin-top:5px;
}

.search input {
  width: 80%;
  height: 45px;
  margin: 20px;
  font-size: 25px;
}

.search button {
  height: 38px;
  width: 10%;
  font-size: 18px;
}

.storyName a {
  color: white;
  text-decoration: none;
}

/* Community Header Title 
width of background container: 110px;

font-size: 20px;
color: white;
margin-top: 10px;
*/

/* Media Queries */
@media only screen and (max-width: 980px) {
  #content #container {
    width: 860px;
  }

  .postContent {
    width: 72%;
  }
}