body {
  background: url("mainBackground.jpg") repeat;
}

.story img.thumbnail {
  max-width: 125px;
  max-height: 85px;
  margin: auto;
}

.story {
  background-color: white !important;
  padding: 15px 0px 15px 0px;
  border-top: 1px solid brown;
  border-right: 1px solid brown;
  border-left: 1px solid brown;
}

.story.row {
  padding: 15px;
}