.bottom-menu-inverse {
  background-color: #9A3D15;
  color: white;
}

.navbar-inverse .navbar-inner {
  background-color: #9A3D15;
}

.navbar-inverse .brand {
  border-bottom: 0px solid #8E3200;
  border-right: 2px solid #8E3200;
  color: #ffffff;
  padding: 10px 28px 11px 32px;
}

.navbar-inverse .nav > li > a {
  font-size: 16.002px;
  border-bottom: 0px solid #8E3200;
  border-left: 2px solid #8E3200;
  color: #ffffff;
  padding: 16px 20px 15px;
}

.navbar .nav ul li {
  background-color: #9A3D15;
}

.active .bottom-menu a, .bottom-menu a:hover, .bottom-menu a:focus {
  color: #E67E22;
}

.navbar .brand:hover, .navbar .brand:focus {
  color: #E67E22;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  color: #E67E22;
}

.navbar .nav ul a:hover {
  background-color: #E67E22;
}

.navbar .nav > li > ul:before {
  border-color: transparent transparent #8E3200 transparent !important;
}

.mtl {
  margin-top: 0px !important;
}

.mtl .bottom-menu .bottom-links {
  font-size: 20px !important;
}

h5, .h5 {
  font-size: 22px !important;
  color: #9A3D15;
}

h5.title {
  color: white;
}

a {
  color: #9A3D15;
}

a:hover {
  color: #8E3200;
  text-decoration: none;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: white;
  border-top-color: white;
}

.mfp-img {
  float: left;
}

.mfp-iconbar {
  background-color: #9A3D15;
  top: 40px;
  right: -84px;
  margin: 0 auto;
  float: right;
  position: absolute;
  border-radius: 2px !important;
}

.mfp-iframe-iconbar {
  top: -4px !important;
}

.iconbar > ul > li > a:hover, .iconbar > ul > li > a:focus {
  color: #E67E22;
}

.mbl, .mvl, .mal {
  margin-bottom: 0px;
}

.pbl, .pvl, .pal {
  padding-bottom: 0px;
}

input[type="text"]:focus {
  border-color: #9A3D15;
}

textarea:focus {
  border-color: #9A3D15
}

input[type="password"]:focus {
  border-color: #9A3D15;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #9A3D15;
}

.tooltip-inner {
  background-color: #9A3D15;
  box-shadow: 4px 4px 20px black;
  -webkit-box-shadow: 4px 4px 20px black;
}
.btn-social-facebook {
  background-color: #2f4b93 !important;
}

.btn-social-twitter {
  background-color: #00bdef !important;
}

.btn-social-facebook:hover, .btn-social-facebook:focus {
  background-color: #596fa9 !important;
}

.btn-social-twitter:hover, .btn-social-twitter:focus {
  background-color: #33caf2 !important;
}

.btn {
  background: #9A3D15;
}

.btn:hover {
  background: #E67E22;
}

input.fluid {
  width: 98%;
}

.nav .dropdown-toggle .caret {
  border-bottom-color: white;
  border-top-color: white;
}

.dropdown-menu .divider {
  margin: 0px;
}

.navbar .nav > li > ul.dropdown-menu {
  padding-top: 0px !important;
}

.dropdown-menu .divider {
  border-bottom: 1px solid #8E3200;
}

#add_story select {
  width: 100%;
  height: 3em;
  font-size: 16px;
}

#add_story textarea {
  width: 98%;
}

#preview {
  text-align: center;
}

#preview img {
  width: 100%;
}

#preview iframe {
  width: 100%;
}

#storyPreview #video {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
}

#storyPreview #video iframe,
#storyPreview #video object,
#storyPreview #video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#storyPreview #soundcloud iframe,
#storyPreview #soundcloud object,
#storyPreview #soundcloud embed {
  width: 100%;
  height: 170px;
}

#storyPreview #image {
  text-align: center;
}

:root *> .alertify-hidden {
    display: block;
    visibility: hidden !important; /* <-- add this line */
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #9A3D15 !important;
}

#storyPreview .alert p {
  text-align: center;
  font-size: 25px;
}
#storyPreview .alert p:after {
  display: inline;
  content: '\2192';
}

.story:last-child {
  border-bottom: 1px brown solid;
}

.nav .dropdown-toggle:hover .caret {
  border-top-color: #E67E22;
  border-bottom-color: #E67E22;
}

#suggestedStories .thumbnail {
  width: 280px;
  height: 180px;
}

#suggestedStories .alert-info a {
  color: #9A3D15;
}

.modal-header {
  padding: 20px 17px;
}

.explainerVideo {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 560px;
  height: 315px;
  box-shadow: 2px 2px 22px #000;
}

.setupAccount {
  position: relative;
  padding: 5px;
  width: 606px;
  margin: 0 auto;
  background: none;
  padding-top: 0px;
  z-index: 20;
}

.setupAccount .header {
  margin: 0 0 35px;
  padding-top: 35px;
  text-align: center;
}

.tile {
  background-color: #eff0f2;
  border-radius: 6px;
  padding: 14px;
  text-align: center;
  width: 260px;
}

.profileOwner {
  border: 3px solid #ffffff;
  display: block;
  height: 84px;
  margin: 0 auto;
  width: 84px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
  img.thumbnail {
    max-width: 270px !important;
    max-height: 180px !important;
  }

  #suggestedStories .thumbnail {
    width: 220px !important;
    height: auto !important
  }

  .pagination {
    margin: 0px 0px;
  }

  .modal-body {
    max-height: 700px !important;
  }

  h2, .h2 {
    font-size: 24px;
  }

  html {
    overflow-x:hidden;
  }

  body {
    overflow-x:hidden;
    padding-right: 0px;
    padding-left: 0px;
  }

  #app-root {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container {
    padding-top: 0px !important;
  }

  footer {
    display:none;
  }

  .explainerVideo {
    display: none;
  }

  .setupAccount {
    display: none;
  }

  #help {
    display: none;
  }

  #uvTab {
    display: none;
  }

  .mobilePadding {
    padding-right: 10px;
    padding-left: 10px;
  }

  #add_story {
    position: absolute;
  }

  .tile {
    position: relative;
    width: 270px;
  }

}